<%- include("header") -%> 

<h2> This is about Page</h2>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel exercitationem dolor modi minus unde adipisci rem similique corrupti consequatur!</p>

<%- include("footer") -%> 